@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@300&family=Bellefair&display=swap');

:root {
    --dark--clr: hsl(230, 35%, 7%);
    --fog--clr: hsl(231, 77%, 90%);
    --light--clr: hsl(0, 0%, 100%);
    --half-transparent--clr: rgba(255, 255, 255, 0.5);
}

.nav {
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 3.25rem;
    margin-right: auto;
}

.logo::before {
    content: "";
    position: absolute;
    width: 80%;
    top: 50%;
    left: 10rem;
    border-bottom: 1px solid var(--light--clr);
    opacity: 20%;
}

.nav > ul::before {
    content: "";
    position: absolute;
    width: 4%;
    top: 50%;
    left: 0;
    border-bottom: 1px solid var(--light--clr);
    opacity: 20%;
}

.navbar_ul {
    list-style-type: none;
    height: 6rem;
    width: 60%;
    padding: 0 10% 0 8rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(80px);
}

.nav li a {
    display: block;
    color: var(--light--clr);
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
    text-align: center;
    padding: 37px 0;
    text-decoration: none;
    cursor: pointer;
}

.nav li b {
    font-weight: bold;
}
  
.nav li a::after {
    content: '';
    position: relative;
    top: 37px;
    display: block;
    width: 0%;
    height: 3px;
    background: var(--half-transparent--clr);
    transition: width .3s;
}

.nav li a:hover::after {
    width: 100%;
}

.nav .active a::after {
    content: '';
    position: relative;
    top: 37px;
    display: block;
    width: 100%;
    height: 3px;
    background: var(--light--clr);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--fog--clr);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1300px) {
    .navbar_ul {
        padding: 0 10% 0 4rem;
    }
}

@media screen and (max-width: 1008px) {
    .nav {
        top: 0;
    }

    .nav li b {
        display: none;
    }

    .logo {
        margin-left: 2.75rem;
    }

    .logo::before {
        display: none;
    }

    .nav > ul::before {
        display: none;
    }

    .navbar_ul {
        padding: 0 10%;
    }
}

@media screen and (max-width: 800px) {
    .navbar_ul {
        padding: 0 10% 0 1rem;
    }
}

@media screen and (max-width: 640px) {
    .hamburger {
        z-index: 1;
    }

    .navbar_ul {
        list-style-type: none;
        width: 40vw;
        padding: 6rem 0;
        position: fixed;
        top: 0;
        right: -40vw;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        align-items: center;
        transition: right .5s;
    }

    .nav li a {
        width: 40vw;
        padding: 1rem 0;
        margin-right: 0;
        margin: 0;
        border-right: 3px;
    }

    .nav .active a {
        border-right: 3px solid var(--light--clr);
    }

    .nav li a::after {
        display: none;
    }
    
    .nav li a:hover::after {
        display: none;
    }
    
    .nav .active a::after {
        display: none;
    }

    .nav {
        height: 6rem;
    }

    .hamburger {
        display: block;
        margin-right: 2.75rem;
        cursor: pointer;
    }
}